### Data Science Project Life-Cycle
##### 1. Domain Understanding - 대상 분야 이해
##### 2. Data Understanding - 데이터 이해하기
##### 3. Data Exploration - 데이터 탐색
##### 4. Data Preparation - 데이터 준비
##### 5. Model Planning - 모델 기획
##### 6. Model Building - 모델 수립
##### 7. Communicate Results - 결과 토의
##### 8. Operationalize - 사내 시스템 적용

# 데이터 준비 단계
* 모델링 알고리즘에 집어넣기 위해 데이터 셋을 준비하는 단계
* 학습 / 평가용으로 데이터 셋 분리 -> row 분리
* feature / label 분리 -> column 분리
* A가 B에 영향을 주나? 또는 상관/연관이 있나? 라는 문장이 있다면
* 각 컬럼은 A 또는 B에 들어갑니다.
* A로 B 설명 가능?
* A에 들어가는 컬럼들을 Feature 라 합니다.
* B에 들어가는 컬럼을 Label 이라 합니다.

In [1]:
import pandas as pd
df = pd.read_csv('processed.csv')
print(df.shape)
df.head()

(10886, 18)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,dayofweek,year_month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5,2011-1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5,2011-1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5,2011-1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5,2011-1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5,2011-1

In [3]:
df.describe().columns

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'casual', 'registered', 'count', 'year',
       'month', 'day', 'hour', 'dayofweek'],
      dtype='object')

In [ ]:
features = ['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'year','month', 'day', 'hour', 'dayofweek']
label = 'count'
# label 은 알고리즘에서 맞추고자 하는 대상입니다.
# 따라서 feature 들로 label을 맞추고자 하는 것입니다.
# 날짜와 날씨 정보를 이용해 자전거 수요량을 알아맞추고자 합니다.
X, y = df[features], df[label]
# f(X) -> y
# f?